@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

:root {
  --grid-size: 50;
  --pixel-size: 10px;
  --pixel-gutter: 4px;
  --pixel-radius: 3px;
}

html,
body {
  margin: 0;
  border: 0;
}

body {
  background-color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Orbitron", sans-serif;
}

#snake {
  width: calc(var(--grid-size) * (var(--pixel-size) + var(--pixel-gutter)));
  line-height: 0;
}

#snake .pixel {
  display: inline-block;
  width: var(--pixel-size);
  height: var(--pixel-size);
  background-color: #34495e;
  margin: calc(var(--pixel-gutter) / 2);
  border-radius: var(--pixel-radius);
}

#snake .pixel.on {
  background-color: #bdc3c7;
}

#snake .pixel.fruit {
  background-color: #e74c3c;
}

#snake .score-card {
  color: rgba(255, 255, 255, 0.2);
  font-size: 30px;
  line-height: 40px;
}

#snake .score-card::before {
  content: "Score: ";
  display: inline-block;
  transform: scale(0.7);
}
